# String de conexion a la base de datos
DATABASE_URL="postgresql://user:password@localhost:5432/gestion_inmuebles?schema=public"

# JWT Secret
JWT_SECRET=""

# Puerto para ejecutar el proyecto
PORT=3000

# URL base para validacion de Cors
FRONTEND_URL=http://localhost:5173
